OPENROUTER_API_KEY=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

TRADINGAGENTS_LLM_PROVIDER=openrouter
TRADINGAGENTS_DEEP_THINK_LLM=openrouter/auto
TRADINGAGENTS_QUICK_THINK_LLM=openrouter/auto